@import "cssreset.css";

body, html {
    height: 100%;
}

html * {
    font-family: "Open Sans", sans-serif;
}
  
.hidden {
    display: none;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;

    min-height: 100vh;  
}

.navigation {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
}

h1,h2,h3{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
}

h1 {
    font-size: 80px ;
}
h2 {
    font-size: 36px ;
}
h3 {
    font-size: 24px ;
}

.sub-text{
    font-size: 14px;
}

.main-button {
    font-weight: 700;
    font-size: 16px;
}

/* START FIGMA */

.main-screen {
 
    row-gap: 2.1rem;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("./assets/main-bg.jpg");
   
     /* Full height */
    height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  position: relative;
 
  
}

.main-screen .content-center {
    align-self: center;  
}

.main-screen > h1 {
    margin-top: 85px;
}
.main-screen > h3 {
    margin-top: 24px;
}

.main-screen > button {
    justify-content: center;
	align-self: center;
    text-transform: uppercase;
}

.btn-playnow {
    width: max-content;
    color: hsla(40, 6%, 10%, 1);
    line-height: 22px;
    padding: 10px 52px;
    font-size: 16px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border: 0;
    border-radius: 2px;
    font-weight: 700;
}

.btn-story {
    position: absolute;
    margin-top: auto;
    margin-bottom: 40px;
    font-size: 12px;
    color: hsla(0, 0%, 100%, 1);
    background: none;
    border: 0;
    bottom: 0;
}
.btn-story::after{
    left: 0;
    right: 0;
    margin: 0 auto;
    /* background-color: blueviolet; */
   
    content: '';
    position: absolute;
    bottom: -10px; /* Controls distance of arrow from button */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid white; /* Arrow outline color */
    
 
}


header {
    position: absolute;
    width: 100%;
    top: 0;
    background: hsla(0, 0%, 0%, 0.5);
    /* padding: 0 200px; */
    
 
}
.navbar {
   
    /* background: hsla(0, 0%, 0%, 0.5); */
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 90%; */
    padding: 0 100px;
}

.main-content {
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.logo {
    font-size: 24px;
    flex-basis: 200px;

}
.menu {
    margin-top: 1px;
    flex-grow: 6;
    /* background-color: antiquewhite; */
}
.menu > ul {
    display: flex;
    gap: 75px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
    /* background-color: rgb(10, 11, 24); */
    justify-content: flex-start;
}

.action {
    /* text-transform: uppercase !important; */
    flex-basis: 200px;
    display: flex;
    flex-flow: row-reverse;
    gap: 10px;
    /* background-color: #FFB548; */
}

.action > button {
    color: white;
    background: none;
    border: 0;
}

.about-gallery {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("./assets/the-games-bg.jpg");
    /* padding: 100px; */
    height: 960px;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.about-gallery .container {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* color: #F3AF34; */
}

.gallery-title {
   
    margin-top: -52.5px;
    /* background-color: #F3AF34; */
    align-items: start;
    padding-right: 20px;
}

.gallery-title > h1,h3 {
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 400;
    text-transform: uppercase;
    
}
.gallery-title > h1 {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2px;

}

.gallery-title > h3 {
    line-height: 50px;
  
    
}

.dot {
    height: 14px;
    width: 14px;
    background-color: none;
    border: 1.31px solid hsla(0, 0%, 100%, 1);
    border-radius: 50%;
    display: inline-block;
}

.full-dot {
    background-color:white;
}
.display-gallery {
    position: relative;
    /* background-color: #F3AF34; */
    width: 858px;
}

.img-responsive{
    width: 100%;
}
.slider-dot {
    margin-top: 100px; position: absolute ; bottom: 0;  left: 50%; transform: translate(-50%, -50%); display: flex; gap: 40px;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 18px solid hsla(0, 0%, 100%, 1);
    display: inline-block;
    transform: rotate(180deg);
    -webkit-transform: rotate(-180deg);
    position: absolute;
    top: 130px;
    left:-25px;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 18px solid hsla(0, 0%, 100%, 1);
    display: inline-block;
    
    position: absolute;
    top: 130px;
    right:-25px;
}   

.features{
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.3) 20%,
        rgba(0, 0, 0, 0.3) 80%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("./assets/features.png");
      /* padding: 100px; */
      height: 960px;
      height: 100%;
      
  
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
}

.features > .container {
    
    width: 44%;
    /* background-color: #F3AF34; */
    display: flex;
    flex-direction: column;
    
    
}


.features > .container > div > h1, h3 {
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 400;
    
    text-transform: uppercase;
}
.features > .container > div > h1 {
    font-size: 56px;
    line-height: 70px;
    

}

.features > .container > div > h3 {
    font-size: 24px;
    line-height: 27.6px;
    /* margin-bottom: 6px; */
}

.features-list {
    margin-top: 50px;
    
}

.features-list > li:before{
    background-color: hsla(0, 0%, 100%, 1);
    width: 2px;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 7.55px;
}

.features-list > ul {
    list-style-type: none;
}

.features-list > li {
         /* You need to turn on relative positioning so the line is placed relative to the item rather than absolutely on the page */
        position: relative;
      
        /* Use padding to space things out rather than margins as the line would get broken up otherwise */
        margin: 0;
        padding-bottom: 1em;
        padding-left: 20px;
      
}

.features-list > li:first-child:before { top: 15px;  }
.features-list > li:last-child:before { height: 0%; }
.features-list > li:nth-child(2)::before { height: 7%; }
    
/* Styles for the SVG bullet points */
.bullet { 
    margin-left: -20px; 
    width: 20px; 
    fill: hsla(0, 0%, 100%, 1); 
    float: left; 
    padding-right: 15px ; 
    padding-top: 3px;
}




.features-title {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: hsla(36, 100%, 64%, 1);
    line-height: 28px;
    margin-bottom: 16px;
}

.features-list >li {
    width: 75%;
    
    /* margin: 30px 0; */
    /* background-color: #F3AF34; */
}

.features-list >li > p{
    margin-left: 12px;
    line-height: 25px;
    width: 362.52px;
    /* margin: 30px 0; */
    /* background-color: #F3AF34; */
}


.requirements{
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("./assets/requirements.png");
    /* padding: 100px; */
    height: 960px;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 120px;
    /* align-items: center; */
    
}

.requirements > h3 {
    
    text-transform: none;
    font-family: Arial;
font-size: 14px;
font-weight: 400;
line-height: 16.1px;
letter-spacing: 2px;
text-align: left;

    text-align: center;
    margin-bottom: 80px;
}

.requirements > div > h1 {
    text-transform: uppercase;
    font-family: Arial;
font-size: 56px;
font-weight: 400;
line-height: 64.39px;
letter-spacing: 3px;
text-align: left;
margin-bottom: 20px;
}
.list-requirement{
    display: flex;
    width: 572px;
    /* background-color: #F3AF34; */
    flex-wrap: wrap; 
    
}



.list-requirement > * {
   
    border: 1px solid hsla(0, 0%, 59%, 1);
    flex: 1 1 200px;
   
}

.list-requirement > div {
    
    padding-top:10px;
    padding-left: 15px;
    padding-bottom: 25px;
}

.list-requirement > div > * {
    font-family: Arial, Helvetica, sans-serif !important;
}
.list-requirement > div > h4 {
  
    color: hsla(36, 100%, 64%, 1);
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 24px;

}

.quotes{
    /* background-color: rgb(37, 46, 53); */
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("./assets/quotes.jpg");
    /* padding: 100px; */
    height: 960px;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 120px;
    align-items: center;
    
}

.quotes > .container {
    
    width: 1200px;
    display: flex;

}

.quotes > .container > div {
    flex:1 ;
    justify-content: center;
    /* padding: 0 120px; */
    align-items: center;
}

.quotes > .container > div.list-card {
    align-items: flex-start;
}

.top-scorer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* padding: 0 0px; */
    max-width: 100%;
    padding: 0 10;
    
}

.top-scorer > .container {
    width: 80%;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.top-scorer > .container > h1 {
    font-family: Arial;
    font-size: 56px;
    font-weight: 400;
    line-height: 64.39px;
    letter-spacing: 3px;
    text-align: left;
    margin-bottom: 15px;

}

.top-scorer > .container > p {
   
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-bottom: 50px;


}

.top-scorer > .container > button {
    align-self: flex-start;
    width: 260.36px;
    height: 60px;
    top: 522.7px;
    left: 117px;
    gap: 0px;
    opacity: 0px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    border: none;

    font-size: 16px;
    font-weight: 700;
    line-height: 21.79px;
    text-align: center;


}

.list-card {
    display: flex;
    flex-direction: column;
    gap:30px;
    
}
.list-card .end{
    align-self: self-end;
  }

.list-card .center{
    align-self: center;
    margin-left: 15px;
}

.card {
    background: hsla(0, 0%, 100%, 0.08);
    padding: 15px;
    width: 360px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    
}
.card-header-img {
    background-color: #F3AF34;
    border-radius: 50%;
    position: relative;
    width: 61.92px;
height: 61.83px;

}

.card-header-img> img {
    /* background-color: aquamarine; */
    width: 61.92px;
    height: 61.83px;
    border-radius: 50%;
    opacity: 0px;
    position: absolute;
    top:-3px;
    left: -5px;
    /* object-fit: scale-down; */


}

.card-header-profile {
    padding: 0 15px;
    flex-grow: 4; /* default 0 */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
}

.card-header-profile > h1 {
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: left;
    color:  hsla(36, 100%, 64%, 1);

}

.card-header-profile > span {  
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: justify;
    color: hsla(0, 0%, 100%, 1);
    opacity: 50%;
}

.card-header > img {
    align-self:self-start;
    margin-top: 12px;
}

.card-comment {
    
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
    text-align: left;
    color: hsla(0, 0%, 100%, 1);

}

.card-date {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: left;
    opacity: 50%;

}


.newsletter{
    /* background-color: rgb(37, 46, 53); */
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 20%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("./assets/newsletter.jpg");
    padding-top: 100px;
    /* margin-top: 100px; */
    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 0 120px; */
    align-items: center;
    
}

.newsletter-section {
    width: 1200px;
    /* margin-top: 10px; */
    display: flex;
    flex-wrap: wrap;
}

.newsletter-img {
    /* padding:25px 0px; */
    flex-basis: 39%;
    display: flex;
   
    justify-content: center;

}
.newsletter-content {
    justify-content: center;
   
    padding: 5px;
    flex-basis: 59%;
    display: flex;
    
    flex-direction: column;
  
    gap: 20px;
    
}

.newsletter-content > .container {
    display: flex; 
    flex-direction: column;
    gap: 35px;
    /* justify-self: center;
    align-items: center; */
    /* background-color: #F3AF34; */
}


.newsletter-content > .container > h3 {
    font-family: Arial;
    font-size: 24px;
    font-weight: 400;
    line-height: 27.6px;
    letter-spacing: 2px;
    text-align: left;

}

.newsletter-content > .container > h1 {
    font-family: Arial;
    font-size: 65px;
    font-weight: 400;
    line-height: 74.74px;
    letter-spacing: 3px;
    text-align: left;
}

.newsletter-content > .container > p {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-bottom: 40px;
}

.newsletter-content > .container > .action {
    /* background-color: #F3AF34; */
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    flex-basis: content;
    
    /* align-content: center; */
   
}   


    
.newsletter-content >  .container > .action > button {
    background-image: linear-gradient(hsla(36, 100%, 64%, 1),hsla(39, 89%, 58%, 1));
    color: hsla(40, 6%, 10%, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 21.79px;
    text-align: center;
    border: none;
    flex-basis: 41%;
    height: 53px;
    border-radius: 5px;
  
}



.input_box{
    height: 53px;
    width: 53%;
    margin-right: 20px;
    /* margin-top: 30px; */
    position: relative;
}
.input_box input{
    border-radius: 7px;
    background-color: hsla(0, 0%, 100%, 0.08);
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding-top: 25px ;
    padding-left: 15px;
    padding-bottom: 5px;
    color: hsla(36, 100%, 64%, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
    text-align: left;

}
.input_box label{
    position: absolute;
    left: 15px;
    font-size: 25px;
    top: 5px;
    pointer-events: none;
    transition: 0.2s;
   
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: left;

}

.footer {
    margin-top: 70px;
    margin-bottom: 27px;
    width: 1024px;
}

.menu-logo {
    margin-left: auto;
    display: flex;
   
    text-transform: uppercase;
   gap: 75px;
    justify-content: flex-end;
    /* background-color: #F3AF34; */
}

.menu-logo > ul {
    
    font-size: 12px;
    line-height: 16.34px;
    letter-spacing: 0.1em;
    text-align: left;

    display: inline-flex;
    gap: 50px;
}

.credit-link {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}

.credit-link > div {
    /* background-color: #F3AF34; */
    display: inline-flex;
    gap: 10px;
 
}
    

.credit-link > div > a{
    margin-top: 2px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16.34px;
    letter-spacing: 0.1em;
    text-align: right;
    color: hsla(0, 0%, 100%, 1);
    text-transform: uppercase;
    text-decoration: none;
    
}

.copyright {
    
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: left;
    opacity: 50%;

}



.menu-icon {
    display: none;
    
}


/* MOBILE RESPONSIVE */
@media only screen and (max-width: 768px) {
    body {
      background-color: lightblue;
      width: 100%;
    }

    .main-screen {
        flex-direction: column;
       
    }

    .navbar {
        /* background-color: aqua; */
        padding: 0 50px;
    }
   

    .menu, .action {
        display: none;
    }

    header {
        /* padding:0 50px; */
        position: absolute;
        top: 0;
        width: 100%;
    }


    .menu-mobile {
        font-weight: 400;
        /* background-color: blue; */
        background-color: hsla(0, 0%, 0%, 0.9);
        border: 1px white solid;
        position: absolute;
        top: 100%;
        text-align: end;
    
        padding : 15px;
        left: 65%;
        width: 25%;
        /* display: flex; */
        
        flex-direction: column;
    }

    .menu-mobile > div > button {
        color: white;
        background: none;
        border: 0;
    }
    .ul-mobile{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 10px;
    }

    .menu-icon {
        display: block;
    }
    
    .about-gallery > .container{
        flex-direction: column;
        gap: 60px;
        margin-top: -150px;
    }

    .display-gallery {
        position: relative;
        /* background-color: #F3AF34; */
        width: 567px;
    }

    .features > .container {
        text-shadow: #FC0 1px 0 10px;
        width: min-content;
        
    }

    .bullet { 
        margin-left: -20px; 
        width: 20px; 
        fill: hsla(0, 0%, 100%, 1); 
        float: left; 
        padding-right: 15px ; 
        padding-top: 3px;
        

    }

    .bullet > svg {
        box-shadow: #FC0 1px 0 10px;
        border-radius: 10px;
    }

    .features-list > li:before{
        box-shadow: #FC0 1px 0 10px;
        background-color: hsla(0, 0%, 100%, 1);
        width: 2px;
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 7.55px;
    }

    .requirements {
        padding: 0 50px ;
    }

    .requirements > div > h1 {
        font-size: 42px;
    }

    .quotes {
        padding: 0 25px;
    }

    .quotes > .container > div.list-card {
        scale: 0.95;
    }

    .newsletter-section{
        width: 640px;
    }

    .newsletter-img {
        display: none;
    }

    .newsletter-content {
        flex-basis: 100%;
        /* padding: 0 100px; */
    }

    .footer {
        width: min-content;
        margin-bottom: 40px;
    }

    .menu-logo  {
        
        width: 640px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    
}


  
  
  